<<<<<<< HEAD:styles/globals.css
@tailwind base;
@tailwind components;
@tailwind utilities;

.chartBtn {
  @apply w-full h-fit md:h-16 pt-5 pb-5 ml-1 mr-1 md:ml-0 md:mr-0 md:pt-0 md:pb-0 text-xs md:w-36 inline-block md:text-xl leading-none rounded-lg md:rounded-xl
    no-underline text-roppongi-50 border-white bg-roppongi-600 md:font-light
    transition hover:border-transparent hover:text-roppongi-700 hover:bg-white focus:bg-white focus:text-roppongi-700 mt-4 lg:mt-0
    shadow-buttoncolor-350 shadow-lg;
=======
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
>>>>>>> c90949de2428ce21ac18acf192be53cc6b3eea64:frontend/styles/globals.css
}

.topBarBtn {
  @apply w-36 h-fit pt-6 pb-6 text-xl text-center flex items-center justify-center font-sans leading-none rounded-2xl
    no-underline bg-roppongi-300 text-white shadow-buttoncolor-300 shadow-lg
    transition  hover:text-roppongi-600 hover:bg-roppongi-50;
}

<<<<<<< HEAD:styles/globals.css
.navBarBtn {
  @apply w-48 h-fit text-2xl text-center font-thin flex items-center justify-center font-sans leading-none rounded-full
  no-underline bg-roppongi-550 text-white shadow-buttoncolor-300 shadow-xl
  transition  hover:text-roppongi-600 hover:bg-roppongi-50 mt-7 pt-5 pb-5;
}

.plantProfile {
  @apply bg-aloe scale-100 bg-center bg-cover w-48 h-36 md:w-52 md:h-72 text-center rounded-xl shadow-lg border-white border-4 cursor-pointer transition duration-300 hover:scale-105 flex flex-col-reverse mb-2 select-none;
=======
* {
  box-sizing: border-box;
>>>>>>> c90949de2428ce21ac18acf192be53cc6b3eea64:frontend/styles/globals.css
}
